<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
  </system.data>
  <connectionStrings>
    <add name="SDACloudEntities" connectionString="metadata=res://*/SDACloudModel.csdl|res://*/SDACloudModel.ssdl|res://*/SDACloudModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=corsprocloud.cdk8qc48ru89.us-east-1.rds.amazonaws.com;User Id=corsproadmin;password=North1212;database=TestSDA;Allow Zero Datetime=True;Convert Zero Datetime=True;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorTest">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="basicHttpBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Corspro.WCFUpdateService.Service" behaviorConfiguration="BehaviorTest">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Corspro.WCFUpdateService.IService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>